body {
    background-color: #1E2124;
    color: #fff;
    height: 2700px;
    width: 1920px;
    font-family: 'Inter',sans-serif;
    margin: auto;
}
header {
    background: linear-gradient(140deg,#C3D3F0, #5D88D8);
    height: 800px;
}
header .hvtb h1 {
    font-size: 600px;
    margin: 0;
    padding: 0;
    position: absolute;
    margin-left: 653px;
    font-weight: 900;
    margin-top: 361px;
    border: 0;
    line-height:440px;
}
header .hvtb p {
    font-size: 96px;
    margin: 0;
    padding: 0;
    position: absolute;
    font-weight: 900;
    margin-left: 650px;
    line-height:90px;
    border: 0px;
    margin-top: 150px;
}
.info {
    background-color: #83A2DB;
    opacity: 65%;
    position: absolute;
    border-radius: 20px;
    margin-top: 184px;
    margin-left: 58px;
    width: 515px;
    height: 556px;
}

.whiteline {
    width: 1920px;
    height: 52px;
    background-color: #fff;
    margin-top: -1px;
}
.textblock {
    margin: 0;
    padding: 0;
    margin-left: 19px;
}
.gav {
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    margin-top: 19px;
    opacity: 50%;
}
.other {
    font-size: 26px;
    font-weight:600;
    position: absolute;
    margin-top: 163px;
}

.numbers_are_say {
    line-height: 40px;
    font-size: 48px;
    font-weight: 700;
    padding: 0;
    position: absolute;
    margin-top: 47px;
}

.morestat {
    margin: 0;
    padding: 0;
    margin-top: 267px;
    background-color: #4E8CFF;
    border-radius: 20px;
    width: 468px;
    height: 115px;
    margin-left: 19px;
    padding: 5px;
}
.morestat p {
    font-size: 20px;
    font-weight: 800;
    line-height: 20 px;
    margin: 7px;
    padding: 0px;
}
button {
    border: 0;
    border-radius: 20px;
    font-family: 'Inter',sans-serif;
    cursor: pointer;
}

.info button {
    margin: 0;
    width: 450px;
    height: 40px;
    font-size: 16px;
    font-weight: 800;
    background-color: #4E8CFF;
    color: #fff;
    position: absolute;
    margin: 33px;
    margin-top: 100px;
}
.info button:hover {
    background-color: #FFF;
    color: #4E8CFF;
}
.morestat button {
    width: 210px ;
    height: 40px;
    color: #83A2DB;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-left: 245px;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    background-color: #fff;
}

.morestat button:hover {
    background-color: #4E8CFF;
    color: #fff;
}
.hitler {
    font-size: 96px;
    font-weight: 900;
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 650px;
    margin-top: 20px;
}
.blocks {
    margin: 0;
    padding: 0;
    margin-top:80px;
    display: flex;
    justify-content: space-around;
    font-size: 48px;
    font-weight: 900;
}

.dogs {
    width: 440px ;
    height: 440px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #83A2DB;
}
.dogs p, .niggers p, .homeless p {
    width: 300px;
}
.homeless {
    width: 440px ;
    height: 440px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #83A2DB;
}
.niggers {
    width: 440px ;
    height: 440px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:2px solid #83A2DB;
}
.other_cats {
    position: absolute;
    margin-left: 780px;
    font-size: 36px;
    font-weight: 900;

}
#sec.whiteline {
    position: absolute;
    margin-top: 100px;
}
#thr.whiteline {
    position: absolute;
    margin-top: 1200px;
}

.statistic {
    position: absolute;
}
.stat {
    margin-left: 620px;
    margin-top: 180px;
    font-size: 96px;
    font-weight: 900;
}
.slogan {
    position: absolute;
    margin: 0;
    font-size: 48px;
    font-weight: 800 ;
    margin-left: 50px;
    margin-top: 200px;
}
.statistic_blocks {
    position: absolute;
    margin: 0;
    margin-left: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1100px;
    height: 450px;
    margin-top: 80px;
}

.left_block,.center_block,.right_block {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #1E2124;
    flex-direction: column;
}
.name {
    background-color: #FFF;
    width: 350px;
    height: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stata {
    background-color: #FFF;
    height: 400px;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.donation {
    position: absolute;
    margin-top: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
form {
    display: flex;
    justify-content: space-around;
    width: 1740px;
}

select {
    border: none;
    background-color: #FFF;
    color: #1E2124;
    border-radius: 20px;
    width: 450px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 19px;
}

form p input {
    border: none;
    border-radius: 20px;
    background-color: #fff;
    color: #1E2124;
    width: 580px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
}
form .submit {
    display: flex;
    align-items: center;
}
form .submit input{
    border: none;
    border-radius: 20px;
    background-color: #4E8CFF;
    color: #fff;
    width: 443px;
    height: 70px;
    font-size: 24px;
    font-weight: 700;
    /* margin-top: 15px; */
}
form .submit input:hover {
    background-color: #fff;
    color: #4E8CFF;
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}